



h1 dhruv

div
  table
    thead
        tr: th Report ID
            th platform
            th Name
            th EmailID
            th Date of Incident

      tbody
        each val in document
          tr
            td= val._id

            for vaa in val.report
              for meta in vaa.metadata
                td= #{meta.type}
