



h1 dhruv

div
  table
    thead
        tr: th Report ID
            th Name
      tbody
        each val in document
          tr
            td= val._id
            each report in val.report
              td= report.metadata.type
              td= report.data.name
