



h1 dhruv

div
  table
    thead
        tr: th Report ID
            th platform
            th Name
            th EmailID
            th Date of Incident

      tbody
        each val in document
          tr
            td= val._id

            each vaa in val.report
                if vaa.type
                  td= vaa.type
