



h1 dhruv

div
  table
    thead
        tr: th Report ID
            th platform
            th Name
            th EmailID
            th Date of Incident

      tbody
        each val in document
          tr
            td= val._id

            each report in val.report
              each meta in report.metadata
                td= meta.type
              
