body {
	font-family: 'roboto';
	font-weight: 100;
}
.alert {
	position: relative;
  	top: 25%;
  	transform: translateY(-25%);
	margin: auto;
	text-align: center;
	font-size: 16px;
}
.alert h1 {
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 50px; 
}
.alert h3 {
	font-weight: 300;
}